img {
	border:0 ;
}
table {
	font-weight: bold ;
	border: solid 1px black ;
	border-collapse: collapse ;
}
table td {
	width: 100px ;
	height: 100px ;
	font-size: 80px ;
	text-align: center ;
}
table .text {
	color: blue ;
}
table span {
	border: solid 1px black ;
}
